---
import GitHub from "../icons/GitHub.astro";
import Linkicon from "../icons/Linkicon.astro";
import Button from "./Button.astro";

const PROJECTS = [
  {
    title: "Url Shorter",
    description:
      "El proyecto de URL Shortener consiste en desarrollar una aplicación web que permita a los usuarios acortar y compartir enlaces de forma rápida y sencilla. El objetivo principal de este proyecto es proporcionar a los usuarios una herramienta eficiente para reducir la longitud de los enlaces, lo que facilitará su compartición en diferentes plataformas como redes sociales, correos electrónicos o mensajes de texto.",
    link: "https://url-shortener-e36i.onrender.com",
    github: "https://github.com/pardo-salas/url-shortener",
    image: "/url-shortener.webp",
    tags: ["Node.js", "Tailwind CSS", "Express", "MongoDB"],
  },
  {
    title: "Chat with PDF",
    description:
      "El proyecto de Chat with PDF consiste en el desarrollo de una aplicacion web que recibe un documento y porcede a mostrar un chat en el que se puede conversar con una ia con el contexto del documentos. Fue desarrollado en Astro, Vue 3 y Typescript, implementando consumo de APIs de Cloundinary para analizar los documentos y OpenAI.",
    link: "",
    github: "https://github.com/pardo-salas/askPDF",
    image: "/url-shortener.webp",
    tags: ["Astro", "Vue", "Tailwind CSS"],
  }
];

---

{
  PROJECTS.map(({ image, title, description, tags, github, link }) => (
    <article class="flex flex-col gap-2">
      <div class="flex flex-col">
        <div class="flex flex-row justify-between">
          <h3 class="text-2xl font-semibold text-sky-950 dark:text-sky-300 mb-2">
            {title}
          </h3>
        </div>
        <p class="text-sm mb-4 text-pretty">{description}</p>
        <ul class="flex gap-2 flex-wrap">
          {tags.map((tag) => (
            <li>
              <span
                class={`items-center flex gap-x-2  bg-blue-700/20 rounded-full text-xs dark:bg-gray-700 py-1 px-2 `}
              >
                {tag}
              </span>
            </li>
          ))}
        </ul>
      </div>
      <img
        width="960"
        height="720"
        loading="lazy"
        class="rounded-t-lg w-auto shadow-2xl shadow-white/10   "
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
      <div class="flex flex-row gap-x-2 items-center justify-end">
        <Button
        href={github}
        >
          <GitHub class="size-6" />
          Ver Codigo Fuente
        </Button>
        <Button
          title="Live Project"
          href={link}
        >
          <Linkicon class="size-6" />
          Ir al Sitio
        </>
      </div>
    </article>
  ))
}
