---
import Tailwind from "../icons/Tailwind.astro"
import AstroIcon from "../icons/Astro.astro"
import Javascript from "../icons/Javascript.astro"

const TAGS = {
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-blue-200/90 text-black",
    icon: Tailwind,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-gray-400 text-black",
    icon: AstroIcon,
  },
  JAVASCRIPT:{
    name: "Javascript",
    class: "bg-yellow-300/95 text-black",
    icon: Javascript
  }
}
const PROJECTS = [
  {
    title: "Porfolio",
    description:
      "Este sitio web ha sido desarrollado con Astro y estilizado con Tailwind CSS, combinando eficiencia y diseño moderno.",
    link: "#",
    github: "https://github.com/pardo-salas/porfolio-dev",
    image: "/porfolio.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
]
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2  rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4 " />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 size-full"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}